Rain Prediction Model using IBM Watson and IBM ML Platform.json
[{"id":"d465e61b.716408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1b6f8f50.7838a1","type":"ibmiot in","z":"d465e61b.716408","authentication":"apiKey","apiKey":"31785414.9c0edc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"smart","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":140,"wires":[["4148fb67.72e914","b1c50e13.8a1c1"]]},{"id":"7f532cce.e16ad4","type":"debug","z":"d465e61b.716408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":240,"wires":[]},{"id":"4148fb67.72e914","type":"function","z":"d465e61b.716408","name":"","func":"global.set(\"_dewptm\",msg.payload.d)\nglobal.set(\"_heatindexm\",msg.payload.he)\nglobal.set(\"_hum\",msg.payload.hu)\nglobal.set(\"_pressurem\",msg.payload.p)\nglobal.set(\"_tempm\",msg.payload.t)\nglobal.set(\"_wdird\",msg.payload.w)\nvar apikey = \"0sIGOknFLGMCb6TDdqqu0TpeQ5AKrQvmAoF3IxT9psJp\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":240,"wires":[["afa22360.a7004"]]},{"id":"afa22360.a7004","type":"http request","z":"d465e61b.716408","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":140,"wires":[["ee3c35ef.0159f8"]]},{"id":"ee3c35ef.0159f8","type":"function","z":"d465e61b.716408","name":"","func":"var d = global.get(\"_dewptm\")\nvar he = global.get(\"_heatindexm\")\nvar hu = global.get(\"_hum\")\nvar p = global.get(\"_pressurem\")\nvar t = global.get(\"_tempm\")\nvar w = global.get(\"_wdird\")\nvar token = msg.payload.access_token\nmsg.headers = {'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload= {\"input_data\": [{\"fields\": [\" _dewptm\",\" _heatindexm\",\" _hum\",\" _pressurem\",\" _tempm\",\" _wdird\"],\"values\": [[d,he,hu,p,t,w]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[["de69e2ab.b4d73"]]},{"id":"de69e2ab.b4d73","type":"http request","z":"d465e61b.716408","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/9d4166fe-2327-4c69-8ea6-1f66226d0f24/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":120,"wires":[["7f532cce.e16ad4"]]},{"id":"b1c50e13.8a1c1","type":"debug","z":"d465e61b.716408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"31785414.9c0edc","type":"ibmiot","name":"API Key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]